<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%= drink.name %></h2>
    <img src="<%= drink.image %>" alt="its broken">
    <h3><%= drink.price %></h3>
    <a href="/menu">Back to Index</a><br>
</body>
<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
    }
</style>
</html>