<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks Index</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%= food.name %></h2>
    <img src="<%= food.image %>" alt="its broken">
    <h3><%= food.price %></h3>
    <a href="/menu">Back to Index</a><br>
</body>
<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
    }
</style>
</html>